h1, h2, h3, h4, p, a, b, i, li, ol, ul {
    font-family: Arial, sans-serif;
    color: white;
}
body {
    background-color: #A800FF;
    margin: 20px;
}
.boxLogo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

